.card {
    float: left;
    width: 24%;
    padding: .75rem;
    margin-bottom: 2rem;
    margin-left: 1%;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}



.card-text {
    font-size: 85%;
}

.product-actions__add:hover, .product-actions__remove:hover {
    transform: scale(1.1);
}

.product:hover .product-actions {
    display: flex;
}
.product-actions__add {
    background: blue;
}
.product-actions__remove {
    background: red;
}