<div class="card mb-4">
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
    </div>
    <ul class="list-group list-group-flush" *ngFor = "let meta of product.metas">
      <li class="list-group-item">{{ meta.value}}</li>
    </ul>
    <div class="card-body text-center">
      <div class="product-actions">
        <a
          class="btn btn-primary product-actions__add"
          (click)="addToCart(product)"
          *ngIf="!inCart"
        >В корзину
      </a>
        <a
          class="btn btn-primary product-actions__remove"
          (click)="removeFromCart(product)"
          *ngIf="inCart"
        >Удалить из корзины
    </a>
    </div>
</div>
  