<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <fa-icon class="fa-1g" [icon]="faCoffee"></fa-icon>
            BABUROCHKA
        </a>
      </nav>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="products">Каталог</a>
        </div>
        <form class="form-inline">
            <div class="input-group has-search ">
                <fa-icon class="form-control-feedback" [icon]="faSearch"></fa-icon>
                <input class="form-control mr-sm-auto" type="search" [(ngModel)]="searchTitle" name="searchTitle" placeholder="Я ищу..." aria-label="Search" >
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchProducts()" type="submit">Найти</button>
            </div>
        </form>
    </div>
    <a routerLink="cart" class="btn btn-primary-outline">
        <fa-icon style="color:white" class="fa-1g" [icon]="faShoppingCart"></fa-icon>
        <span class="badge" *ngIf="cart.length > 0">{{ cart.length }}</span>    
    </a>
  </nav>